<div class="container">
  <div class="title">Excel</div>
  <div class="sub-title">Import and Export data from Excel</div>
  <hr>
  <div class="tools">
    <button (click)="exportData('contactJs')">
      <span class="mdi mdi-file-export"> </span>
      <small>Export</small>
    </button>
  </div>

  <table id="contactJs" class="table-contact">
    <tr class="thead">
      <th>Detalle Participante</th>
      <th>Nombre</th>
      <th>RFC-Clave</th>
      <th>Region</th>
      <th>Sucursal</th>
      <th>Tipo Nomina</th>
      <th>Tipo Contrato</th>
      <th>Tipo Participante</th>
      <th>Tipo Puesto</th>
      <th>Fecha Ingreso</th>
      <th>Aportacion Empleado</th>
      <th>Aportacion Voluntaria</th>
      <th>E-mail</th>
    </tr>

    <tr class="tbody" *ngFor="let contact of exportContacts; let odd = odd" [ngClass]="{'odd': odd}">
      <td>{{contact?.detalleParticipante}}</td>
      <td>{{contact?.nombre}}</td>
      <td>{{contact?.rfcClave}}</td>
      <td>{{contact?.region}}</td>
      <td>{{contact?.sucursal}}</td>
      <td>{{contact?.tipoNomina}}</td>
      <td>{{contact?.tipoContrato}}</td>
      <td>{{contact?.tipoParticipante}}</td>
      <td>{{contact?.tipoPuesto}}</td>
      <td>{{contact?.fechaIngreso}}</td>
      <td>{{contact?.aportacionEmpleado}}</td>
      <td>{{contact?.aportacionVoluntaria}}</td>
      <td>{{contact?.email}}</td>


    </tr>
  </table>

  <hr>

  <div class="tools">
    <button>
      <label>
        <span class="mdi mdi-file-export"> </span>
        <small>Import</small>
        <input hidden type="file" (change)="onFileChange($event)" multiple="false">
      </label>
    </button>
  </div>

  <table id="contactJs" class="table-contact">
    <tr class="thead">
      <th>Detalle Participante</th>
      <th>Nombre</th>
      <th>RFC-Clave</th>
      <th>Region</th>
      <th>Sucursal</th>
      <th>Tipo Nomina</th>
      <th>Tipo Contrato</th>
      <th>Tipo Participante</th>
      <th>Tipo Puesto</th>
      <th>Fecha Ingreso</th>
      <th>Aportacion Empleado</th>
      <th>Aportacion Voluntaria</th>
      <th>E-mail</th>
    </tr>
    <tr class="tbody" *ngFor="let contact of importContacts; let odd = odd" [ngClass]="{'odd': odd}">
      <td>{{contact?.detalleParticipante}}</td>
      <td>{{contact?.nombre}}</td>
      <td>{{contact?.rfcClave}}</td>
      <td>{{contact?.region}}</td>
      <td>{{contact?.sucursal}}</td>
      <td>{{contact?.tipoNomina}}</td>
      <td>{{contact?.tipoContrato}}</td>
      <td>{{contact?.tipoParticipante}}</td>
      <td>{{contact?.tipoPuesto}}</td>
      <td>{{contact?.fechaIngreso}}</td>
      <td>{{contact?.aportacionEmpleado}}</td>
      <td>{{contact?.aportacionVoluntaria}}</td>
      <td>{{contact?.email}}</td>
    </tr>
  </table>

</div>
